@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #1e5955;
  color: #e2a1a6; */
  /* color: #eed1c6;
  background-color: #122a33; */
  background-color: #1d6272;
  color: #ff9f8d;
  background-color: #F8F8F8;
  color: #222222;
}

img {
  height: 300px;
  object-fit: cover;
  margin: 0 auto;
  width: 100%;
}

h2 {
  font-size: 2.4rem;
}

p {
  line-height: 2.2;
}